name: chat

x-defaults:
  &defaults
  init: true
  tty: true
  networks:
    - chat_network

services:

  web:
    <<: *defaults
    depends_on: []
    environment:
      - PORT=3000
      - DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres
    build:
      args:
        APP: web
        START_COMMAND: dev
      context: .
      dockerfile: ./dockerfiles/dev.Dockerfile
    volumes:
      - ./apps/web/src:/app/apps/web/src
      - ./packages/dto/src:/app/packages/dto/src
      - ./packages/utils/src:/app/packages/utils/src
      - ./packages/mqtt-bridge/src:/app/packages/mqtt-bridge/src

  realtime:
    <<: *defaults
    depends_on: []
    environment:
      - PORT=3000
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=1000
      - DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres
    build:
      args:
        APP: realtime
        START_COMMAND: dev
      context: .
      dockerfile: ./dockerfiles/dev.Dockerfile
    volumes:
      - ./apps/realtime/src:/app/apps/realtime/src
      - ./packages/dto/src:/app/packages/dto/src
      - ./packages/utils/src:/app/packages/utils/src
      - ./packages/mqtt-bridge/src:/app/packages/mqtt-bridge/src

  proxy:
    <<: *defaults
    ports:
      - "3000:80"
    environment:
      - NGINX_PORT=80
      - NGINX_ENTRYPOINT_LOCAL_RESOLVERS=true
    build:
      context: .
      dockerfile: ./dockerfiles/nginx.Dockerfile

  mqtt:
    <<: *defaults
    image: emqx/nanomq

  postgres:
    <<: *defaults
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
####################################################################

networks:
  chat_network:
