version: '3.8'
name: chat

x-defaults:
  &defaults
  init: true
  tty: true
  networks:
    - chat_network

services:

  web:
    <<: *defaults
    depends_on: []
    environment:
      - PORT=3000
#      - WATCHPACK_POLLING=true
#      - CHOKIDAR_USEPOLLING=true
#      - CHOKIDAR_INTERVAL=100
    build:
      args:
        APP: web
        START_COMMAND: dev
      context: .
      dockerfile: ./dockerfiles/dev.Dockerfile
    volumes:
      - ./apps/web/src:/app/apps/web/src
      - ./packages/dto/src:/app/packages/dto/src
      - ./packages/utils/src:/app/packages/utils/src
#      - ./apps/web:/app/apps/web
#      - /app/apps/web/node_modules
#      - /app/apps/web/.next

  realtime:
    <<: *defaults
    depends_on: []
    environment:
      - PORT=3000
    build:
      args:
        APP: realtime
        START_COMMAND: dev
      context: .
      dockerfile: ./dockerfiles/dev.Dockerfile
    volumes:
      - ./apps/realtime/src:/app/apps/realtime/src
      - ./packages/dto/src:/app/packages/dto/src
      - ./packages/utils/src:/app/packages/utils/src

  proxy:
    <<: *defaults
    ports:
      - "3000:80"
    environment:
      - NGINX_PORT=80
#      - NGINX_ENVSUBST_TEMPLATE_SUFFIX=.conf
      - NGINX_ENTRYPOINT_LOCAL_RESOLVERS=true
    build:
      context: .
      dockerfile: ./dockerfiles/nginx.Dockerfile


####################################################################

networks:
  chat_network:
